.radio-group {
    display: flex!important;
    flex-wrap: nowrap!important; /* Allow wrapping on smaller screens */
    gap: 10px!important; /* Space between buttons */
  }
  
  .radio-item {
    display: flex!important;
    align-items: center!important; /* Align the radio button and label vertically */
  }
  
  .radio-item label {
    margin-left: 5px!important; /* Space between the radio button and label */
  }

  .form-item {
    display: flex;
    align-items: center;
  }
  
  input[type="radio"] {
    margin-right: 8px;
  }
  
  label {
    margin-right: 15px;
  }
  
  @media (min-width: 800px) {
    .form-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
      gap: 20px; /* Adjust spacing between controls */
    }
  }
  
  @media (max-width: 800px) {
    .form-grid {
      display: grid;
      grid-template-columns: 1fr; /* 1 column for smaller screens */
      gap: 20px;
    }
  }
  
  /* .fancy-input {
    width: 100%;
  } */
  
  /* .hero-container {
    max-width: 1200px;
    margin: 0 auto;
  } */
  